/* body {
    background-color: rgb(40, 151, 40);
}

.deck {
    margin-top: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.get_card {
    padding: 10px;
    font-size: 20px;
}

.card_img {
    position: absolute;
    margin-top: 7em;
} */

body {
    background-color: rgb(253, 253, 177);
}

.get_pokemon {
    margin: 0 auto;
    margin-top: 3em;
    display: block;
    padding: 10px;
    font-size: 18px;
    cursor:pointer;
}

ul {
    margin: 0 auto;
    margin-top: 3em;
    display: block;
    width:30%;
    font-size: 22px;
}